@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.container {
  position: relative;
  width: 150px;
  margin: 20px auto;

  .downTriangle {
    @include position.absolute(7px 0 0 130px);
    width: 8px;
    height: 8px;
  }
}

.selectBox {
  width: 100%;
  padding: 4px;
  margin-bottom: 2px;
  font-size: 10px;
  color: colors.$GRAY6;
  text-align: left;
  border: 1px solid colors.$GRAYA;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .searchIcon {
    @include position.absolute(6px 0 0 5px);
    width: 10px;
    height: 10px;
    fill: colors.$GRAYD;
  }

  input {
    width: 100%;
    height: 22px;
    padding: 6px 18px;
    font-size: 10px;
    text-align: left;
    background-color: colors.$WHITE;
    border: none;
    border: 1px solid colors.$GRAYA;
    border-radius: 2px 2px 0 0;

    &:focus {
      border: 1px solid colors.$GRAYA;
    }
  }

  button {
    padding: 4px 14px;
    font-size: 10px;
    color: colors.$GRAY6;
    text-align: left;
    border-right: 1px solid colors.$GRAYA;
    border-left: 1px solid colors.$GRAYA;

    &:last-child {
      border-bottom: 1px solid colors.$GRAYA;
      border-radius: 0 0 2px 2px;
    }

    &:hover {
      background-color: colors.$GRAYE;
    }
  }
}
